<section id="seccion">
    <div class="titular">
        <h2>Mis Ingresos</h2>
    </div>
    <div class="seleccion">
        <!-----BOTÓN NUEVO INGRESO------>
        <div class="selector-left">
            <button  class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#nuevoGasto" (click)="clearValidators()">+ Nuevo Ingreso</button>            
        </div>   
        <!-----SELECTORES Y FILTROS---->      
        <div class="selector-right">
            <!-----
            <select class="btn btn-light" name="select">
                <option value="value1">Mas recientes</option>
                <option value="value2">Mas antiguos</option>
                <option value="value3">Mayor precio</option>
                <option value="value3">Menor precio</option>
            </select>--->
            <!------
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-text-left"></i> Filtrar</button>---->
            <app-ordenar (mensaje)="recibirOrden($event)"></app-ordenar>
            <!----
            <app-filtrar-ingreso></app-filtrar-ingreso> ---->
            <div class="dropdown show  d-inline-block">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-text-left"></i> Filtrar
                </a>              
                <div id="tobiron" class="dropdown-menu bg-light" aria-labelledby="dropdownMenuLink">
                    <div class="text-center titulo-filtro">
                        <p>Filtros</p>
                    </div>
                    <hr>
                    <div class="item-filtro">
                        <div class="en-linea text-center">
                            <div class="sub-item mb-1">
                                <label for="">Desde</label><br>
                                <input type="date">
                            </div>
                            <div class="sub-item mb-2">
                                <label for="">Hasta</label><br>
                                <input type="date">
                            </div>                
                        </div>
                    </div>
                    <div class="item-filtro">
                        <div class="en-linea">
                            <div class="sub-item mb-1">
                                <label for="">Mínimo</label>
                                <input type="number">
                            </div>
                            <div class="sub-item mb-2">
                                <label for="">Máximo</label>
                                <input type="number">
                            </div>                
                        </div>
                    </div>
                    <div class="item-filtro">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="flexCheckDefault">
                              Servicios
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckDefault">
                              Alimentos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Movilidad
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Varios
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="boton-aplicar text-center">
                        <button class="btn btn-aceptar">Aplicar</button>
                    </div>
                </div>
            </div>
            <!---- 
            <button (click)="compararFechas()">Comparar fechas</button>           ---->                                   
        </div>                                     
    </div>
    <!-----
    <div class="collapse" id="collapseExample">
        <div class="filtros card card-body">
            <div>
                <button class="btn btn-warning">Anual</button>
            </div>
            <div>
                <button class="btn btn-primary">Mensual</button>
            </div>
            <div>
                <button class="btn btn-success">Semanal</button>
            </div>
            <div>
                <button class="btn btn-danger">Diario</button>
            </div>         
        </div>
    </div>--->

    <!-----ELECCION DE VISTAS Y PAGINACION----->
    <div class="vistas-paginas">
        <!-----Elección de vistas----->
        <nav class="vistas" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><button class="btn btn-light"  [ngStyle]="{'background-color':active==true?'#5D21D2':''}" (click)="active=true"><i class="bi bi-list-ul"></i></button></li>
              <li class="page-item"><button  class="btn btn-light" [ngStyle]="{'background-color':active==false?'#5D21D2':''}" (click)="active=false"><i class="bi bi-view-list"></i></button></li>
            </ul>
        </nav>
        <!----Elección de páginas---->
        <nav class="vistas" aria-label="Page navigation example">
            <ul class="pagination">
            <li class="page-item"><button class="btn btn-light" (click)="previusPage()" [disabled]="page===0"><i class="bi bi-arrow-left"></i></button></li>
            <li class="page-item"><button class="btn btn-light" (click)="nextPage()" [disabled]="page+5>lista2Ingresos.length"><i class="bi bi-arrow-right"></i></button></li>
            </ul>
        </nav>
    </div>
    
    <!-----Vista TABLA----->
    <!------
    <div *ngIf="active" class="tabla-gastos">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="p-3">
                        <th scope="col">Fecha</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Importe</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Anual</span></td>
                        <td>Acciones en Charta</td>
                        <td>$200000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Anual</span></td>
                        <td>Acciones en Twitter</td>
                        <td>$2560</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-primary">Mensual</span></td>
                        <td>Sueldo</td>
                        <td>$254000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-primary">Mensual</span></td>
                        <td>Bono mágico</td>
                        <td>$5000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-danger">Diario</span></td>
                        <td>Billetes encontrados</td>
                        <td>$250</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-primary">Mensual</span></td>
                        <td>Bono mágico</td>
                        <td>$5000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-danger">Diario</span></td>
                        <td>Billetes encontrados</td>
                        <td>$250</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>                                                           
                </tbody>
            </table>
        </div>
    </div>
    --->
    <!-----VISTA TABLA EN PC-->
    <div *ngIf="active" class="tabla-gastos">        
        <div  class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="p-3">
                        <th scope="col">Fecha</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Importe</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of lista2Ingresos | paginacionIngreso:page:orden">
                    <tr class="p-2">
                        <td>{{item.fecha.getDate()}}/{{item.fecha.getMonth()+1}}/{{item.fecha.getFullYear()}}</td>
                        <td><span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Anual'),'text-bg-success':(item.categoria=='Mensual'),'text-bg-danger':(item.categoria=='Semanal'),'text-bg-primary':(item.categoria=='Diario')}">{{item.categoria}}</span></td>
                        <td>{{item.descripcion}}</td>
                        <td>${{item.importe}}</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>                                      
                </tbody>
            </table>
        </div>        
    </div>
    <!-----VISTA TABLA EN MOVIL---->
    <div *ngIf="active" class="tabla-gastos-movil">        
        <div  class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="p-3">
                        <th scope="col">Categoria/<br>Fecha</th>
                        <th scope="col">Importe/<br>Descripción</th>                    
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of lista2Ingresos | paginacionIngreso:page:orden">
                    <tr class="p-2">
                        <td><span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Anual'),'text-bg-success':(item.categoria=='Mensual'),'text-bg-danger':(item.categoria=='Semanal'),'text-bg-primary':(item.categoria=='Diario')}">{{item.categoria}}</span><br><span id="fechoso">({{item.fecha.getDate()}}/{{item.fecha.getMonth()+1}}/{{item.fecha.getFullYear()}})</span></td>
                        <td>${{item.importe}}<br>{{item.descripcion}}</td>
                        <td class=""><app-editar data-bs-toggle="modal" data-bs-target="#editarIngreso"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarIngreso"></app-borrar></td>
                    </tr>                                      
                </tbody>
            </table>
        </div>        
    </div>

    <!-----Vista TARJETA---->
    <!----Estática----->
    <!-------
    <div *ngIf="!active" class="tabla-gastos">        
        <div class="tarjeta-titulo">
            <div class="fecha-tar">
                <p>Fecha</p>
            </div>
            <div class="cate-tar">
                <p>Categoría</p>
            </div>
            <div class="descri-tar">
                <p>Descripción</p>
            </div>
            <div class="importe-tar">
                <p>Importe</p>
            </div>
            <div class="botones-tar">
                <p>Editar/Eliminar</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Anual</span>
            </div>
            <div class="descri-tar">
                <p>Acciones en CHARTA</p>
            </div>
            <div class="importe-tar">
                <span>$1500000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-primary">Mensual</span>
            </div>
            <div class="descri-tar">
                <p>Sueldo</p>
            </div>
            <div class="importe-tar">
                <span>$155000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Anual</span>
            </div>
            <div class="descri-tar">
                <p>Acciones en Twitter</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-primary">Mensual</span>
            </div>
            <div class="descri-tar">
                <p>Sueldo 2</p>
            </div>
            <div class="importe-tar">
                <span>$205000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-success">Diario</span>
            </div>
            <div class="descri-tar">
                <p>Dinero encontrado</p>
            </div>
            <div class="importe-tar">
                <span>$50000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-success">Diario</span>
            </div>
            <div class="descri-tar">
                <p>Regalo de la tia</p>
            </div>
            <div class="importe-tar">
                <span>$25000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-info">Semanal</span>
            </div>
            <div class="descri-tar">
                <p>Loteria</p>
            </div>
            <div class="importe-tar">
                <span>$500</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        
    </div>---->
    <!-----VISTA TARJETA EN PC------->
    <div *ngIf="!active" class="tabla-gastos">        
        <div class="tarjeta-titulo">
            <div class="fecha-tar">
                <p>Fecha</p>
            </div>
            <div class="cate-tar">
                <p>Categoría</p>
            </div>
            <div class="descri-tar">
                <p>Descripción</p>
            </div>
            <div class="importe-tar">
                <p>Importe</p>
            </div>
            <div class="botones-tar">
                <p>Editar/Eliminar</p>
            </div>
        </div>
        <div class="tarjetas" *ngFor="let item of lista2Ingresos | paginacionIngreso:page:orden">
            <div class="tarjeta">
                <div class="fecha-tar">
                    <p>{{item.fecha.getDate()}}/{{item.fecha.getMonth()+1}}/{{item.fecha.getFullYear()}}</p>
                </div>
                <div class="cate-tar">
                    <span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Anual'),'text-bg-success':(item.categoria=='Mensual'),'text-bg-danger':(item.categoria=='Semanal'),'text-bg-primary':(item.categoria=='Diario')}">{{item.categoria}}</span>
                </div>
                <div class="descri-tar">
                    <p>{{item.descripcion}}</p>
                </div>
                <div class="importe-tar">
                    <span>${{item.importe}}</span>
                </div>
                <div class="botones-tar">
                    <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
                </div>
            </div>
        </div>
        
        
    </div>
    <!----VISTA TARJETAS EN MOVIL----->
    <div *ngIf="!active" class="tabla-gastos-movil">        
        <div class="tarjeta-titulo-movil">
            <div class="indica-tar-movil">
                <p>Categoria/<br>Fecha</p>
            </div>
            <div class="indica-tar-movil">
                <p>Importe/<br>Descripción</p>
            </div>
            <div class="indica-tar-movil">
                <p>Modificar</p>
            </div>
        </div>
        <div class="tarjetas" *ngFor="let item of lista2Ingresos | paginacionIngreso:page:orden">
            <div class="tarjeta">
                <div class="fecha-tar">
                    <span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Anual'),'text-bg-success':(item.categoria=='Mensual'),'text-bg-danger':(item.categoria=='Semanal'),'text-bg-primary':(item.categoria=='Diario')}">{{item.categoria}}</span><br>
                    <p>{{item.fecha.getDate()}}/{{item.fecha.getMonth()+1}}/{{item.fecha.getFullYear()}}</p>
                </div>
                <div class="descri-tar">
                    <span>${{item.importe}}</span><br>
                    <p>{{item.descripcion}}</p>
                </div>
                <div class="botones-tar-movil">
                    <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
                </div>
            </div>
        </div>
    </div>

    
</section>

<!------------------MODALES---------------------->

<!--MODAL NUEVO INGRESO--->
<div class="modal fade" id="nuevoGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="staticBackdropLabel">NUEVO INGRESO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearValidators()"></button>
        </div>
        <!------Formulario------->
        <form [formGroup]="gastoForm" id="agregarEducacion" class="add-form" (ngSubmit)="guardarIngreso()" novalidate autocomplete="off" required>
            <div class="modal-body">
                <div class="form-group">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" id="fecha"  formControlName="fecha" class="form-control" min="2000-01-01" max="2030-12-31" [ngClass]="{'is-valid':!Fecha?.errors&& Fecha?.touched}">
                    <div *ngIf="Fecha?.errors && Fecha?.touched">
                        <p *ngIf="Fecha?.hasError('required')" class="text-danger">
                          Ingrese una fecha
                        </p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="categoria" class="form-label">Tipo</label><br>
                    <select type="text" id="categoria"  formControlName="categoria" class="form-control" [ngClass]="{'is-valid':!Categoria?.errors&& Categoria?.touched}"> 
                        <option value="Anual">Anual</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Semanal">Semanal</option>
                        <option value="Diario">Diario</option>                   
                    </select>
                    <div *ngIf="Categoria?.errors && Categoria?.touched">
                        <p *ngIf="Categoria?.hasError('required')" class="text-danger">
                          Ingrese una categoria
                        </p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="importe" class="form-label">Importe</label>
                    <input type="number" id="importe"  formControlName="importe" class="form-control" [ngClass]="{'is-valid':!Importe?.errors&& Importe?.touched}">
                    <div *ngIf="Importe?.errors && Importe?.touched">
                        <p *ngIf="Importe?.hasError('required')" class="text-danger">
                          Ingrese un importe
                        </p>
                        <p *ngIf="Importe?.hasError('min')" class="text-danger">
                            El importe debe ser mayor a cero
                        </p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input type="text" id="descripcion"  formControlName="descripcion" class="form-control" [ngClass]="{'is-valid':!Descripcion?.errors&& Descripcion?.touched}">
                    <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                        <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                            Ingrese una descripción
                        </p>
                        <p *ngIf="Descripcion?.hasError('maxlength')" class="text-danger">
                            Menos de 20 caracteres
                        </p>
                    </div>
                </div>
                <div class="modal-footer botones">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearValidators()">Cancelar</button> 
                    <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal"  [disabled]="!gastoForm.valid">Aceptar</button>                               
                </div>
            </div>    
        </form>
      </div>
    </div>
</div>

<!--MODAL EDITAR INGRESO--->
<div class="modal fade" id="editarIngreso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="staticBackdropLabel">EDITAR INGRESO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearValidators()"></button>
        </div>
        <!------Formulario------->
        <!---
        <form id="editarIngreso" class="add-form" (ngSubmit)="guardarIngreso()" novalidate autocomplete="off">
            <div class="modal-body">
                <div class="form-group">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input id="fecha" type="date" value={{fecha}} name="marca" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="categoria" class="form-label">Tipo</label><br>
                    <select id="categoria" type="text" name="categoria" class="form-control"> 
                        <option value="red">Anual</option>
                        <option value="orangered">Mensual</option>
                        <option value="yellow">Semanal</option>
                        <option value="green">Diario</option>                  
                    </select>
                </div>
                <div class="form-group">
                    <label for="importe" class="form-label">Importe</label>
                    <input id="importe" type="number" name="importe" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input id="descripcion" type="text" name="descripcion" class="form-control" >
                </div>
            </div>
            <div class="modal-footer botones">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button> 
                <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal" >Aceptar</button>                               
            </div>
        </form>--->
        <form [formGroup]="gastoForm" id="agregarEducacion" (ngSubmit)="actualizarIngreso()" autocomplete="off">
            <div class="modal-body">
                <div class="form-group">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" id="fecha"  formControlName="fecha" class="form-control" min="2000-01-01" max="2030-12-31" [ngClass]="{'is-valid':!Fecha?.errors&& Fecha?.touched}">
                    <div *ngIf="Fecha?.errors && Fecha?.touched">
                        <p *ngIf="Fecha?.hasError('required')" class="text-danger">
                          Ingrese una fecha
                        </p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="categoria" class="form-label">Tipo</label><br>
                    <select type="text" id="categoria"  formControlName="categoria" class="form-control" [ngClass]="{'is-valid':!Categoria?.errors&& Categoria?.touched}"> 
                        <option value="Anual">Anual</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Semanal">Semanal</option>
                        <option value="Diario">Diario</option>                   
                    </select>
                    <div *ngIf="Categoria?.errors && Categoria?.touched">
                        <p *ngIf="Categoria?.hasError('required')" class="text-danger">
                          Ingrese una categoria
                        </p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="importe" class="form-label">Importe</label>
                    <input type="number" id="importe"  formControlName="importe" class="form-control" [ngClass]="{'is-valid':!Importe?.errors&& Importe?.touched}">
                    <div *ngIf="Importe?.errors && Importe?.touched">
                        <p *ngIf="Importe?.hasError('required')" class="text-danger">
                          Ingrese un importe
                        </p>
                        <p *ngIf="Importe?.hasError('min')" class="text-danger">
                            El importe debe ser mayor a cero
                        </p>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input type="text" id="descripcion"  formControlName="descripcion" class="form-control" [ngClass]="{'is-valid':!Descripcion?.errors&& Descripcion?.touched}">
                    <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                        <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                            Ingrese una descripción
                        </p>
                        <p *ngIf="Descripcion?.hasError('maxlength')" class="text-danger">
                            Menos de 20 caracteres
                        </p>
                    </div>
                </div>
                <div class="modal-footer botones">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearValidators()">Cancelar</button> 
                    <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal" [disabled]="!gastoForm.valid">Aceptar</button>                               
                </div>
            </div>    
        </form>
      </div>
    </div>
</div>

<!---MODAL ELIMINAR INGRESO--->
<div class="modal fade" id="eliminarIngreso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <!---
        <div class="modal-header text-center">
          <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR INGRESO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>--->
        <!------Formulario------->
        <form >
            <div class="modal-body">
                <div>
                    <h5 class="titulo-modal-borrar">¿Desea eliminar este ingreso?</h5>
                </div>
            </div>
            <div class="modal-footer botones">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </form>
      </div>
    </div>
</div>