
    <div class="tabla-gastos">        
        <div  class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="p-3">
                        <th scope="col">Fecha</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Importe</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of listaGastos">
                    <tr class="p-2">
                        <td>{{item.date}}</td>
                        <td><span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoryName=='alimentos'),'text-bg-success':(item.categoryName=='servicios'),'text-bg-danger':(item.categoryName=='movilidad'),'text-bg-primary':(item.categoryName=='varios')}">{{item.categoryName}}</span></td>
                        <td>{{item.description}}</td>
                        <td>${{item.amount}}</td>
                        <td><app-editar (click)="editableId(item.id,item)"></app-editar><app-borrar (click)="trashId(item.amount)"></app-borrar></td>
                    </tr>                                      
                </tbody>
            </table>
        </div>        
    </div>
    <!-----VISTAS TABLA EN MOVIL----->
    <div  class="tabla-gastos-movil">        
        <div  class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="p-3">
                        <th scope="col">Categoria/<br>Fecha</th>
                        <th scope="col">Importe/<br>Descripción</th>                    
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of listaGastos">
                    <tr class="p-2">
                        <td><span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoryName=='Alimentos'),'text-bg-success':(item.categoryName=='Servicios'),'text-bg-danger':(item.categoryName=='Movilidad'),'text-bg-primary':(item.categoryName=='Varios')}">{{item.categoryName}}</span><br><span id="fechoso">({{item.date}})</span></td>
                        <td>${{item.amount}}<br>{{item.description}}</td>
                        <td class=""><app-editar (click)="editableId(item.id,item)"></app-editar><app-borrar (click)="trashId(item.id)"></app-borrar></td>
                    </tr>                                      
                </tbody>
            </table>
        </div>        
    </div>



