.custom-content {
  padding: 10px;
  width: 100%;
  margin-top: 45px;
}

.header, .dashboard{
  padding: 0;
  margin: 0;

}
.dashboard{
  z-index: 1;
  padding-top: 0%;
  display: flex;
  
}
.header{
  padding-left: 300px;
  position: absolute;
  width: 100%;
  padding-bottom: 5px;
}
.header1{
  padding-left: 85px;
  position: absolute;
  width: 100%;
  padding-bottom: 5px;
}


