<!--Header-->

<header class="d-flex flex-wrap justify-content-around py-3 mb-4 ">
  <div class="d-flex align-items-center mb-3 mb-md-0">
    <a href="/" class="text-dark text-decoration-none">
      <span class="fs-4">CHARTA</span>
    </a>
  </div>

  <div>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Nuestro producto</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
    </ul>
  </div>

  <div>
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/login" class="nav-link">Iniciar sesion</a></li>
      <li class="nav-item"><a routerLink="/login" class="nav-link">Crear cuenta</a></li>
    </ul>
  </div>
</header>

<!--Fin header-->
<!--
  Inicio banner descriptivo
-->

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../../assets/img/wallet-hero.jpg" class="d-block mx-lg-auto img-fluid" alt="Wallet" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-8 fw-bold lh-1 mb-3">Organiza tus finanzas</h1>
      <p class="lead">Hoy en día sabemos lo importante que es tener el control sobre nuestras finanzas,
        por esa razón y para darte una mano, hemos creado CHARTA donde podras registrar y ver
        todos tus ingresos y gastos, tambien te daremos estadisticas para que puedas planificar mejor
        tus siguientes movimientos financieros, y para no hacerla larga...
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start ">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Comencemos...</button>
      </div>
    </div>
  </div>
</div>

<!-- Fin banner -->

<!-- Inicio seccion de propiedades de CHARTA-->
<div class="container px-4 py-5" id="custom-cards">

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('./../../../assets/img/multidevice-card.jpg');background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-8 lh-1 fw-bold">Multidispositivo</h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('./../../../assets/img/security-card.jpg');background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-8 lh-1 fw-bold">Seguro</h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('./../../../assets/img/divisas-card.jpg');background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-8 lh-1 fw-bold">Elije la divisa que quieras</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-4 p-md-5 mb-4 rounded ">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fw-semi-bold">Visualiza tus estadisticas</h1>
    <p class="lead my-3"> Podes tener el control total de tus gastos y realizar los ajustes necesarios </p>
    <p class="lead my-3"> Podes tener el control total de tus gastos y realizar los ajustes necesarios </p>
  </div>
</div>

<!--Seccion imagenes de referencia de estadisticas de la app-->
<div class="container px-4 py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
    <div class="col">
      <!-- Removi "h-100" para agregar de manera mecanica un height para que se puedan apreciar las imagenes-->
      <div class=" card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('./../../../assets/img/grafico-barras.jpg');background-size: cover;height: 500px;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
          </h3>
        </div>
      </div>
    </div>
    <div class="col">
            <!-- Removi "h-100" para agregar de manera mecanica un height para que se puedan apreciar las imagenes-->
      <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('./../../../assets/img/explorador-grafico.png');background-size: cover;height: 500px;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h3>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="container px-4 py-5" id="icon-grid">
      <span>| Conócenos</span>
      <h2 class="pb-2 ">Conoce a nuestro equipo</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#bootstrap" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#cpu-fill" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#calendar3" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#home" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#speedometer2" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#toggles2" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#geo-fill" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#tools" />
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </footer>