<section id="gastos">
    <div class="titular">
        <h2>Mis Gastos</h2>
    </div>
    <div class="seleccion">
        <!----
        <div class="selector">
            <input type="search">
        </div>--->
        <div class="selector">
            <select name="select">
                <option value="value1">Mas recientes</option>
                <option value="value2">Mayor a menor</option>
                <option value="value3">Menor a mayor</option>
            </select>
        </div>
        <div class="selector">
            <button class="btn btn-primary">Filtrar</button>            
        </div>
        <div class="selector">
            <button class="btn btn-success">NUEVO GASTO</button>            
        </div>       
        
    </div>
</section>
