:host {
    display: block;
    width: 100%;
}
#gastos {
    text-align: center;
    margin:25px;
    padding:15px
}
.titular {
    text-align: left;
    margin-bottom:25px;
    
}
.titular h2 {
    font-weight: bolder
}
.seleccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;
}
.btn-orange {
    background:#FF8328;
    color:white
}


tbody tr {
    height:20px;
    font-size: 1rem;
    background:white;
}

thead tr {
    background-color:#FAFAFA;
    font-size:1rem;
}
th {
    padding:15px
}
td {
    padding:15px
}
app-editar, app-borrar {
    margin:0 7px;
}

.filtros {
    display:flex;
    flex-direction: row;
    justify-content:center
    
}
.filtros button {
    width:120px;
    margin:0 25px;
}
.collapse {
    margin-bottom: 5px;
}
.selector-right select{
    margin-right: 20px;
    padding:4px;
    border:rgb(220, 212, 212)
}

.botones {
    display:flex;
    justify-content: space-around;
}
.modal-agregar {
    background-color: rgb(43, 144, 43)
}
.modal-editar {
    background-color: rgb(255, 242, 99);
}
.modal-borrar {
    background-color:rgb(255, 90, 90)
}