<section id="gastos">
    <div class="titular">
        <h2>Mis Gastos</h2>
    </div>
    <div class="seleccion">
        <!----Nuevo Gasto Botón---->
        <div class="selector-left">
            <button  class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#nuevoGasto" (click)="openGasto()">+ Nuevo Gasto</button>            
        </div> 
        <!----Selectores y filtros----->       
        <div class="selector-right">
            <!----                  
            <select class="btn btn-light" name="select">
                <option value="value1">Mas recientes</option>
                <option value="value2">Mas antiguos</option>
                <option value="value3">Mayor precio</option>
                <option value="value3">Menor precio</option>
            </select>---->
            <app-ordenar></app-ordenar>
            <app-filtrar></app-filtrar>                     
            <!----
            <button class="btn btn-light"><i class="bi bi-text-left"></i> Filtrar</button>---->
            <!---
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-text-left"></i> Filtrar</button> --->
            <!----------------------------------------------->                        
        </div>                                     
    </div>
    <!----
    <div class="collapse" id="collapseExample">
        <div class="filtros card card-body">
            <div>
                <button class="btn btn-primary">Servicios</button>
            </div>
            <div>
                <button class="btn btn-warning">Alimentos</button>
            </div>
            <div>
                <button class="btn btn-danger">Movilidad</button>
            </div>
            <div>
                <button class="btn btn-info">Vehiculos</button>
            </div>
            <div>
                <button class="btn btn-success">Todos</button>
            </div>          
        </div>
    </div>---->

    <div class="vistas-paginas">
        <!-----Elección de vistas----->
        <nav class="vistas" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><button class="btn btn-light"  [ngStyle]="{'background-color':active==true?'#5D21D2':''}" (click)="active=true"><i class="bi bi-list-ul"></i></button></li>
              <li class="page-item"><button  class="btn btn-light" [ngStyle]="{'background-color':active==false?'#5D21D2':''}" (click)="active=false"><i class="bi bi-view-list"></i></button></li>
            </ul>
        </nav>
        <!----elección de páginas---->
        <nav class="vistas" aria-label="Page navigation example">
            <ul class="pagination">
            <li class="page-item"><button class="btn btn-light" (click)="previusPage()" [disabled]="(lista2Gastos | paginacion:page-1).length===0"><i class="bi bi-arrow-left"></i></button></li>
            <li class="page-item"><button class="btn btn-light" (click)="nextPage()" [disabled]="(lista2Gastos | paginacion:page+1).length===0"><i class="bi bi-arrow-right"></i></button></li>
            </ul>
        </nav>
    </div>
    
        
    
     

    <!----TABLA---->
    <!-----Estatica---->
    
    <!----
    <div *ngIf="active" class="tabla-gastos">     
        <div  class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="p-3">
                        <th scope="col">Fecha</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Importe</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Verduleria</td>
                        <td>$2560</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-primary">Servicios</span></td>
                        <td>Electricidad</td>
                        <td>$2540</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-primary">Servicios</span></td>
                        <td>gas</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-danger">Varios</span></td>
                        <td>Ropa super cool</td>
                        <td>$20580</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>
                    <tr class="p-2">
                        <td>10/10/2022</td>
                        <td><span class="p-2 badge text-bg-warning">Alimentos</span></td>
                        <td>Supermercado "Codemax"</td>
                        <td>$20000</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>                   
                </tbody>
            </table>
        </div>        
    </div>
    ---> 
    
    <div *ngIf="active" class="tabla-gastos">        
        <div  class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="p-3">
                        <th scope="col">Fecha</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Importe</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of lista2Gastos | paginacion:page">
                    <tr class="p-2">
                        <td>{{item.fecha}}</td>
                        <td><span class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Alimentos'),'text-bg-success':(item.categoria=='Servicios'),'text-bg-danger':(item.categoria=='Movilidad'),'text-bg-primary':(item.categoria=='Varios')}">{{item.categoria}}</span></td>
                        <td>{{item.descripcion}}</td>
                        <td>${{item.importe}}</td>
                        <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar></td>
                    </tr>                                      
                </tbody>
            </table>
        </div>        
    </div>


    <!----TARJETAS------>
    <!----Estatica----->
    <!--------
    <div *ngIf="!active" class="tabla-gastos">        
        <div class="tarjeta-titulo">
            <div class="fecha-tar">
                <p>Fecha</p>
            </div>
            <div class="cate-tar">
                <p>Categoría</p>
            </div>
            <div class="descri-tar">
                <p>Descripción</p>
            </div>
            <div class="importe-tar">
                <p>Importe</p>
            </div>
            <div class="botones-tar">
                <p>Editar/Eliminar</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fecha-tar">
                <p>14/11/2022</p>
            </div>
            <div class="cate-tar">
                <span class="p-2 badge text-bg-warning">Alimentos</span>
            </div>
            <div class="descri-tar">
                <p>Supermercado</p>
            </div>
            <div class="importe-tar">
                <span>$5000</span>
            </div>
            <div class="botones-tar">
                <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
            </div>
        </div>


    </div>
    ---->

    <div *ngIf="!active" class="tabla-gastos">        
        <div class="tarjeta-titulo">
            <div class="fecha-tar">
                <p>Fecha</p>
            </div>
            <div class="cate-tar">
                <p>Categoría</p>
            </div>
            <div class="descri-tar">
                <p>Descripción</p>
            </div>
            <div class="importe-tar">
                <p>Importe</p>
            </div>
            <div class="botones-tar">
                <p>Editar/Eliminar</p>
            </div>
        </div>
        <div class="tarjetas" *ngFor="let item of lista2Gastos">
            <div class="tarjeta">
                <div class="fecha-tar">
                    <p>{{item.fecha}}</p>
                </div>
                <div class="cate-tar">
                    <span class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Alimentos'),'text-bg-success':(item.categoria=='Servicios'),'text-bg-danger':(item.categoria=='Movilidad'),'text-bg-primary':(item.categoria=='Varios')}">{{item.categoria}}</span>
                </div>
                <div class="descri-tar">
                    <p>{{item.descripcion}}</p>
                </div>
                <div class="importe-tar">
                    <span>${{item.importe}}</span>
                </div>
                <div class="botones-tar">
                    <app-editar data-bs-toggle="modal" data-bs-target="#editarGasto"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto"></app-borrar>
                </div>
            </div>
        </div>
    </div>
</section>

<!-----------MODALES------------>

<!--MODAL NUEVO GASTO--->
<div class="modal fade" id="nuevoGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="staticBackdropLabel">NUEVO GASTO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form id="agregarEducacion" class="add-form" (ngSubmit)="guardarGasto()" novalidate autocomplete="off" required>
            <div class="modal-body">
                <div class="form-group">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input id="fecha" type="date" value={{fechaActual}} name="marca" class="form-control" [(ngModel)]="newFecha" required>
                </div>
                <div class="form-group">
                    <label for="categoria" class="form-label">Categoria</label><br>
                    <select id="categoria" type="text" name="categoria" class="form-control" [(ngModel)]="newCategoria"> 
                        <option value="servicios">Servicios</option>
                        <option value="alimentos">Alimentos</option>
                        <option value="movilidad">Movilidad</option>
                        <option value="varios">Varios</option>                  
                    </select>
                </div>
                <div class="form-group">
                    <label for="importe" class="form-label">Importe</label>
                    <input id="importe" type="number" name="importe" class="form-control" [(ngModel)]="newImporte" required>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input id="descripcion" type="text" name="descripcion" class="form-control" [(ngModel)]="newDescripcion">
                </div>
            </div>
            <div class="modal-footer botones">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button> 
                <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal" >Aceptar</button>                               
            </div>
        </form>
      </div>
    </div>
</div>

<!--MODAL EDITAR GASTO--->
<div class="modal fade" id="editarGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        
        <div class="modal-header text-center">
          <h5 class="modal-title" id="staticBackdropLabel">EDITAR GASTO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form id="agregarEducacion" class="add-form" (ngSubmit)="editarGasto()" novalidate autocomplete="off">
            <div class="modal-body">
                <div class="form-group">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input id="fecha" type="date" value={{fechaActual}} name="marca" class="form-control" [(ngModel)]="newFecha" required>
                </div>
                <div class="form-group">
                    <label for="categoria" class="form-label">Categoria</label><br>
                    <select id="categoria" type="text" name="categoria" class="form-control" [(ngModel)]="newCategoria" > 
                        <option value="red">Servicios</option>
                        <option value="orangered">Alimentos</option>
                        <option value="yellow">Vehículos</option>
                        <option value="green">Varios</option>                 
                    </select>
                </div>
                <div class="form-group">
                    <label for="importe" class="form-label">Importe</label>
                    <input id="importe" type="number" name="importe" class="form-control" [(ngModel)]="newImporte" required>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input id="descripcion" type="text" name="descripcion" class="form-control" [(ngModel)]="newDescripcion" >
                </div>
            </div>
            <div class="modal-footer botones">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button> 
                <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal" >Aceptar</button>                               
            </div>
        </form>
      </div>
    </div>
</div>

<!--MODAL ELIMINAR GASTO--->
<div class="modal fade" id="eliminarGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <!-----        
        <div class="modal-header text-center">
          <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR GASTO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>--->
        <!------Formulario------->
        <form >
            <div class="modal-body">
                <div>
                    <h5 class="titulo-modal-borrar">¿Desea eliminar este gasto?</h5>
                </div>
            </div>
            <div class="modal-footer botones">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-aceptar" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </form>
      </div>
    </div>
</div>
