<nav class="menu-dashboard">
  <ul class="p-0 m-0 d-flex flex-column justify-content-between h-100">
    <div class="p-4">
      <li class="li-button" routerLink="/landing">
        <p class="text-white fw-bold fs-5 text-center">Nombre app</p>
      </li>

      <button class="btn-new-entry" (click)="openModal()">Nueva entrada</button>

      <div *ngIf="modalSwith">
        <modal-new-entry></modal-new-entry>
      </div>
    </div>

    <div class="d-flex flex-column gap-3">

      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/general'}" routerLink="/dashboard/general">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">General</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/gastos'}" routerLink="/dashboard/gastos">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Mis gastos</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/ingresos'}" routerLink="/dashboard/ingresos">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Mis ingresos</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/estadisticas'}" routerLink="/dashboard/estadisticas">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Estadisticas</p>
      </li>

    </div>

    <div class="pb-4">
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/configuracion'}" routerLink="/dashboard/configuracion">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Configuración</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true}" (click)="closeSession()">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Cerrar sesión</p>
      </li>
    </div>
  </ul>
</nav>
