<nav class="menu-dashboard">
  <ul class="p-0 m-0 d-flex flex-column justify-content-between h-100">
    <div class="p-4">
      <li class="li-button" routerLink="/landing">
        <p class="text-white fw-bold fs-5 text-center">Nombre app</p>
      </li>

      <button class="btn-new-entry">Nueva entrada</button>

      <modal-new-entry></modal-new-entry>
    </div>

    <div class="d-flex flex-column gap-3">

      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/general'}" routerLink="/dashboard/general">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">General</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/expenses'}" routerLink="/dashboard/expenses">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Mis gastos</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/revenue'}" routerLink="/dashboard/revenue">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Mis ingresos</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/stats'}" routerLink="/dashboard/stats">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Estadisticas</p>
      </li>

    </div>

    <div class="pb-4">
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true,
                      'active-link' : router.url === '/dashboard/settings'}" routerLink="/dashboard/settings">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Configuración</p>
      </li>
      <li [ngClass]="{'li-button-style d-flex align-items-center w-100 justify-content-start gap-4' : true}">
        <div class="li-icon"></div>
        <p class="text-white fw-bold fs-6 text-center m-0">Cerrar sesión</p>
      </li>
    </div>
  </ul>
</nav>
